 
#table-head {
    font-size: 10px;
}

#table-body {
    font-size: 14px;
}

#table-stat {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    /* border: 1px solid #116466; */
    width: 100%;
}

#table-stat td {
border: 1px solid #c4bbbc;
padding: 8px;

}

#table-stat tr:hover {
    background-color: #bebdbd;
}

#table-stat th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1D4D6B;
    color: #FFF;
}