body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFCB9A;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 
.content {
  padding: 20px;
}
 
.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
  background-color: #1E555C;
}
.header a {
  color: #FFF;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}
.header small {
  color: #D9B08C;
}
.header .active {
  color: #EDC7B7;
}