body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F3F0E1;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 
.content {
  padding: 20px;
}
 
.header {
  padding: 15px;
  background-color: #1D4D6B;
}
.header a {
  color: #F3F0E1;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #C74441;
}
.header small {
  color: #D8CFD0;
}
.header .active {
  color: #D8CFD0;
}